/* Header Styles */
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: rgb(17, 124, 143);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  padding: 20px;
  background-color: rgb(17, 124, 143);
  color: #fdfafa;
}
header h1{
    text-align: center;
}
header nav ul li a:hover {
    color: yellow;
}
nav ul li {
  display: inline;
  margin-right: 20px;
  
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Registration Form Styles */
#register {
  background-color: #fff;
  padding: 20px;
}

#register form {
  max-width: 400px;
  margin: 0 auto;
}


#register h2 {
  text-align: center;
  margin-bottom: 20px;
}

#register label {
  display: block;
  margin-bottom: 10px;
}

#register input[type="text"],
#register input[type="email"],
#register input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

#register input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  }
