*{
    box-sizing: border-box;
}
header {

    align-items: center;
    padding: 10px;
    background-color: rgb(12, 120, 143);
}

body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header h1{
    text-align: center;
    font-size: 40px;
    color: white;
}
header h6{
    font-size: medium;
    color: white;
    font-style: italic;
    text-align: center;
    
}
nav{
    background-color: black;
    padding: 5px;
    border-radius: 4px;
}

header nav ul li a:hover{
    
    color: yellow;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    overflow: hidden:
      text-align:justif
}
#home {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
#home h2{
    background-color: rgb(20, 60, 68);
    padding: 10px;
    color: white;
    border-radius: 4px;
}
.image-slider{
    width: 100%;
    overflow: hidden;
}
.slider-container{
    display:flex;
    animation: slide 15s infinite;
}
.slider-container img{
    flex-shrink: 0;
    width: 40%;
    padding: 10px;
    animation: pause 2s infinite;
    
}
@keyframes slide{
    0%, 100% {
        transform: translateX(0);
    }
    10%, 90% {
        transform: translateX(-33.33%);
    }
    20%, 80% {
        transform: translateX(-66.67%);
    }
    30%, 70% {
        transform: translateX(-99.99%);
    }
}
@keyframes pause {
    0%, 10%, 90%, 100% {
        opacity: 1;
    }
    20%, 80% {
        opacity: 1;
    }
}

#aboutus {
    background-color: #fff;
    padding: 40px;
    text-align: justify;
    line-height: 200%;
}

#aboutus h2{
    text-align: center;
    background-color: rgb(20, 60, 68) ;
    padding: 10px;
    color: white;
    border-radius: 4px;
}



#menu{
    text-align: center;
    padding: 20px;
    
}
#menu h2{
    background-color: rgb(20, 60, 68) ;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-item {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.menu-item img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.menu-item h3{
    margin-top: 0;
}
.price {
    font-weight: bold;
}


#contactus {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

#contactus form {
    margin-bottom: 0;
    text-align: left;
 }
 #contactus h2{
    background-color: rgb(20, 60, 68) ;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
#loginsignup {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}
#loginsignup h2{
    background-color: rgb(20, 60, 68) ;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
#loginsignup form {
    margin-bottom: 0;
    text-align: left;
 }
form 
{
    display: block;
    margin-top: 10px;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}
form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
footer {
    background-color: #333;
    color: #fb0814;
    padding: 20px;
    text-align: center;
}
footer b a{
    padding: 10px;
    color: white;
}
footer b a:hover{
    color: yellow;
}
a{
    text-decoration: none;
}
#customerreviews {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}




/*Door Delivery*/

#doordelivery{
    text-align: center;
    padding: 20px;
}
#doordelivery h2{
    background-color: rgb(20, 60, 68) ;
    padding: 10px;
    color: white;
    border-radius: 4px;
}

/*side by side*/

.product-container{
    display: flex;
    flex-wrap: wrap;

}
.product{
    flex: 0 0 200px;
    margin: 34px;
}

.Espresso img{
    width: 200px;
}

.Cappuccino img{
    width: 200px;
}

.mocha img{
    width: 200px;
}



.btn {
    display:inline-block;
    background-color:#333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}
.btn:hover{
    background-color: dodgerblue;
}

.primary-button{
    display:inline-block;
    background-color: green;
    color: #fff;
    padding: 2px 4px;
    text-decoration: none;
    border-radius: 4px; 
}
.primary-button:hover{
    background-color: rgb(9, 172, 25) !important;
        }
