*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#home {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
#home h2{
    background-color: #B8860B;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
.image-slider{
    width: 100%;
    overflow: hidden;
}
.slider-container{
    display:flex;
    animation: slide 15s infinite;
}
.slider-container img{
    flex-shrink: 0;
    width: 40%;
    padding: 10px;
    animation: pause 2s infinite;
    
}
@keyframes slide{
    0%, 100% {
        transform: translateX(0);
    }
    10%, 90% {
        transform: translateX(-33.33%);
    }
    20%, 80% {
        transform: translateX(-66.67%);
    }
    30%, 70% {
        transform: translateX(-99.99%);
    }
}
@keyframes pause {
    0%, 10%, 90%, 100% {
        opacity: 1;
    }
    20%, 80% {
        opacity: 1;
    }
}

#aboutus {
    background-color: #fff;
    padding: 40px;
    text-align: justify;
    line-height: 200%;
}

#aboutus h2{
    text-align: center;
    background-color: #B8860B ;
    padding: 10px;
    color: white;
    border-radius: 4px;
}



#menub{
    text-align: center;
    padding: 20px;
    
}
#menub h2{
    background-color: #B8860B ;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
.menub-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menub-item {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.menub-item img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}
.menub-item h3{
    margin-top: 0;
}
.price {
    font-weight: bold;
}


#contactus {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

#contactus form {
    margin-bottom: 0;
    text-align: left;
 }
 #contactus h2{
    background-color: #B8860B;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
#loginsignup {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}
#loginsignup h2{
    background-color: #B8860B ;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
#loginsignup form {
    margin-bottom: 0;
    text-align: left;
 }
form 
{
    display: block;
    margin-top: 10px;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}
form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
footer {
    background-color: #333;
    color: #fb0814;
    padding: 20px;
    text-align: center;
}
footer b a{
    padding: 10px;
    color: white;
}
footer b a:hover{
    color: yellow;
}
a{
    text-decoration: none;
}
#customerreviews {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
#customerreviews img{
    border-radius: 50%;
    padding: 20px;
    
}




/*Door Delivery*/

#doordelivery{
    text-align: center;
    padding: 20px;
}
#doordelivery h2{
    background-color: #B8860B ;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
#doordelivery img{
    border-radius: 4px;
}
#doordelivery{
    font-style: oblique;
}

/*side by side*/

.product-container{
    display: flex;
    flex-wrap: wrap;

}
.product{
    flex: 0 0 200px;
    margin: 34px;
}

.Espresso img{
    width: 200px;
    border-radius: 10px;
}

.Cappuccino img{
    width: 200px;
}

.mocha img{
    width: 200px;
}



.btn {
    display:inline-block;
    background-color:#333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}
.btn:hover{
    background-color: dodgerblue;
}

.primary-button{
    display:inline-block;
    background-color: green;
    color: #fff;
    padding: 2px 4px;
    text-decoration: none;
    border-radius: 4px; 
}
.primary-button:hover{
    background-color: rgb(9, 172, 25) !important;
}
.nav-bar{
    background-color: #362719;
    color: #fff;
    padding: 20px;
    font-family: sans-serif;
}
.menu-right{
    text-align: right;
}
ul li{
    display: inline-block;
    margin: 20px;
    list-style: none;
}
ul li a{
    color: #fff;
    font-weight: bold;
}
ul li a:hover{
    color: yellow;
}
.nav-bar h1{
    float: left;
    height: 45px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.menu-right span{
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width:700px) {
    .menu-right span{
        display: block;
    }
    ul li{
        display: block;
    }
    ul{
        display: none;
    }
}
